:root {
    --primary-color: rgb(37, 29, 93);
    --black: rgb(15, 15, 15);
    --font-size-medium: 16px;
    --shadow: 3px 3px 5px var(var(--black))
}
header {
    display: flex;
    background-color: var(--primary-color);
    color: white;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    height: 70px;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-links {
    display: flex;
    flex-direction: row;
}
.nav-links li{
    margin: 10px;
}

.presentacion {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   width: 100%;
   background-color: slategray;
   color: white;
   margin: 30px;
   height: 400px; 
}
.presentacion h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 10px;
}
.tech-section{
display: flex;
flex-direction: column;
justify-content: center;
}
.card-section {
    display: flex;
    flex-direction: row;
}
.tech-section {
    background-color: silver;
    padding: 20px;
    border-radius: 10px;
}
.tech-section h2{
    color: #333;
    text-align: center;
}
.tech-section h3{
font-size: var(--font-size-medium);
}
.tech-section .card-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}
.tech-section .card{
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: #333;
    text-align: center;
    margin: 10px;
}
.tech-section .card img {
    width: 200px;
    height: auto;
    filter: drop-shadow(var(--shadow));
}
.activities-section {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    min-width: 800px;
}
.activities-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.activities-section div {
    display: flex;
    flex-direction: column;
}
.activities-section input,
.activities-section textarea {
    border: 1px solid var(--black);
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
}
.activities-section form button {
    background: slategray;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
    max-width: 200px;
}
.activities-section form button:hover {
    box-shadow: var(--shadow);
}